afl-analyze
afl-as
afl-clang
afl-clang++
afl-fuzz
afl-g++
afl-gcc
afl-gotcpu
afl-showmap
afl-tmin
as
*.o
afl-qemu-trace
.cproject
.project
/qemu_mode/qemu-2.3.0
/qemu_mode/qemu-2.3.0.tar.bz2
/qemu_mode/yybuild_qemu_support.sh
.fuse_*
/qemu_mode/qemu-2.3.0/


/*/afl-analyze
/*/afl-as
/*/afl-clang
/*/afl-clang++
/*/afl-fuzz
/*/afl-g++
/*/afl-gcc
/*/afl-gotcpu
/*/afl-showmap
/*/afl-clang-fast
/*/afl-clang-fast++
/*/afl-llvm-pass.so

/testenv/output/
/testenv/input/
/testenv/.gdb_history
/testenv/output-*/
/testenv/peda-session-*.txt


/testenv/binary-test/CVE*/libxml2/
/testenv/binary-test/CVE*/libming/
/testenv/binary-test/CVE*/libpng-1.6.15/
/testenv/binary-test/CVE*/tiff-4.0.7/
/testenv/binary-test/CVE*/dwarf-20161001/
/testenv/binary-test/CVE*/libming-ming-0_4_7/
/testenv/binary-test/CVE*/binutils-2.25/
/testenv/binary-test/CVE*/libwmf-0.2.8.4/
/testenv/binary-test/CVE*/libarchive/
/testenv/binary-test/CVE*/*.tar.gz
/testenv/binary-test/aflgo-demo/libxml2

/testenv/binary-test/CVE*/temp*/dot-files
/testenv/binary-test/CVE*/temp*/state
/testenv/binary-test/CVE*/temp*/step1.log
/testenv/binary-test/CVE*/temp*/step2.log
/testenv/binary-test/CVE*/mini_distance.png


/testenv/binary-test/*/CVE*/libxml2/
/testenv/binary-test/*/CVE*/libming/
/testenv/binary-test/*/CVE*/libpng-1.6.15/
/testenv/binary-test/*/CVE*/tiff-4.0.7/
/testenv/binary-test/*/CVE*/dwarf-20161001/
/testenv/binary-test/*/CVE*/libming-ming-0_4_7/
/testenv/binary-test/*/CVE*/binutils-2.25/
/testenv/binary-test/*/CVE*/libwmf-0.2.8.4/
/testenv/binary-test/*/CVE*/libarchive/
/testenv/binary-test/*/CVE*/*.tar.gz
/testenv/binary-test/*/aflgo-demo/libxml2

/testenv/binary-test/*/CVE*/temp*/dot-files
/testenv/binary-test/*/CVE*/temp*/state
/testenv/binary-test/*/CVE*/temp*/step1.log
/testenv/binary-test/*/CVE*/temp*/step2.log
/testenv/binary-test/*/CVE*/mini_distance.png








